/* change the background color */
.navbar-custom {
    background-color: transparent;
    z-index: 98 !important;
}

.navbar-custom-scrolled {
    background-color: #272727;
    transition: all 0.3s;
    -webkit-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px -2px rgba(0,0,0,0.75);
    z-index:999!important;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: white;
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
    font-family: coolcond;
    transition: all 0.3s;
    font-size: 18px;
    min-width: 50px;
    text-align: center;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    border-bottom: solid thin #ab1113;
    color: #ab1113;
}

.btn-signup {
    background: #ab1113;
    min-width: 90px !important;
}

    .btn-signup:hover {
        color: white !important;
        background-color: #910d0e;
    }

.link-login {
    color: #ebebeb !important;
}

@font-face {
    font-family: "coolrg";
    src: url(../fonts/coolvetica-rg.ttf);
}

@font-face {
    font-family: "coolcond";
    src: url(../fonts/coolvetica-condensed-rg.ttf);
}

@font-face {
    font-family: "ralemed";
    src: url(../fonts/Raleway-Medium-vi.ttf);
}

#brand {
    font-family: coolrg;
}

#title-background {
    background: url(../images/person-t-shirt-wear-1770723.jpg) center;
    height: 500px;
    background-size: cover;
    padding: 100px 0px;
    text-align: center;
}

#title-text {
    color: white;
    font-family: coolrg;
    text-transform: uppercase;
    font-size: 80px;
}

#title-sub-text {
    color: white;
    text-transform: uppercase;
    font-family: ralemed;
    font-size: 40px;
}

.title-divider {
    color: #ab1113;
    text-transform: uppercase;
    background-color: white;
    font-family: coolrg;
    font-size: 22px;
    display: inline-block;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    background-color: #ffffff;
    padding: 20px 0px;
    width: 100%;
    position: absolute;
    box-shadow: none;
    -webkit-box-shadow: none;
    border-radius: 0px;
    background-color: #ffffff;
    transition: all 0.3s;
    
}
#search-result-wrapper {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}
.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    color: silver;
    transition: 0.3s;
    padding: 3px 5px;
    line-height: 25px;
    font-size: 15px;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    background-color: #ffeab5;
    color: black;
}

.mega-dropdown-menu .dropdown-header {
    font-size: 18px;
    color: #ab1113;
    padding: 5px 60px 5px 5px;
    line-height: 30px;
}

#search_input {
    border: none;
    font-size: 24px;
    font-family: coolcond;
}

#search_input:focus {
    box-shadow: none;
}

#search_button {
    border: none;
    font-size: 20px;
    border-radius: 0px;
    background-color: #ab1113;
    width: 100px;
    font-family: coolrg;
    color: white;
    text-transform: uppercase;
}
.search-result-product-wrapper {
    line-height: 20px;
    margin-bottom:20px;
    
}
.search-empty-result-text{
    font-family:coolrg;
    text-transform:uppercase;
    font-size:20px;
    margin-left:10px;
}
.search-name-wrapper {
    transition: 0.3s;
}
.search-name-wrapper:hover {
    border-bottom: solid thick #ab1113;
}
#search_button:hover {
    background-color: #e03140;
}
.search-brand-name{
    font-family:coolrg;
    text-transform:uppercase;
}
.search-category-name{
    font-family:coolcond;
    color:rgba(0, 0, 0, 0.5);
}
.search-product-name {
    text-transform: uppercase;
    font-size: 24px;
    color: black;
    text-decoration: none!important;
    font-family: coolrg;
    transition:0.3s;
}
.search-product-name:hover{
    color:#ab1113;
}
.search-result-text {
    font-family: coolrg;
    color: #d6d6d6;
    margin-left:10px;
}
.search-img{
    width:100px
}

#category-panel {
    font-family: coolrg;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    overflow-x: auto;
    width: 100%;
    margin-top: 10px;
    white-space: nowrap;
}
#category-panel a {
    display: inline-flex;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.3s;
    text-decoration: none;
    color: black;
}

#category-panel a:hover {
    border-bottom: solid medium #ab1113;
    color: #ab1113;
}

.category-panel-active {
    border-bottom: solid medium #ab1113;
    color: #ab1113;
}

.divider-wrapper {
    text-align: center;
    margin-top: -35px;
}

.divider-section {
    margin-top: 30px;
}

.see-all {
    text-align: right;
    font-family: ralemed!important;
    font-size:15px!important;
}

.see-all a {
    color: black;
    text-decoration: none;
}

.see-all a:hover {
    color: #ab1113;
}

#brand-background-1 div {
    height: 500px;
    background-size: cover !important;
    opacity: 0.8;
    transition: 0.3s;
}

    #brand-background-1 div:hover {
        opacity: 1;
    }

.brand-title-1 {
    font-family: coolrg;
    text-transform: uppercase;
    text-align: center;
    padding: 250px 0px;
}

    .brand-title-1 a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        transition: 0.3s;
    }

#brand-background-1 div:hover > .brand-title-1 a {
    color: #ab1113;
    font-size: 40px;
}

#brand-background-2 div {
    height: 350px;
    background-size: cover !important;
    opacity: 0.8;
    transition: 0.3s;
}

    #brand-background-2 div:hover {
        opacity: 1;
    }

.brand-title-2 {
    font-family: coolrg;
    text-transform: uppercase;
    text-align: center;
    padding: 125px 0px;
}

    .brand-title-2 a {
        color: white;
        font-size: 30px;
        text-decoration: none;
        transition: 0.3s;
    }

#brand-background-2 div:hover > .brand-title-2 a {
    color: #ab1113;
    font-size: 40px;
}

.card-block {
    min-height: 220px;
    border: none !important;
}

.product-img-wrapper {
    width: 100%;
    background-color: #f2f2f2;
    text-align: center;
}

.product-name a {
    color: black;
    text-decoration: none;
    font-family: coolcond;
    font-size: 20px;
    line-height: 25px;
    transition: all 0.3s;
}

    .product-name a:hover {
        color: #ab1113;
    }

.product-price {
    color: black;
    font-family: coolcond;
    font-size: 25px;
    line-height: 25px;
}

.product-sub-title {
    font-size: 15px;
    color: #dbd9d9;
    font-family: ralemed;
}

.product-img {
    max-width: 100%;
}

#subs-wrapper {
    min-height: 250px;
    margin-top: 30px;
}

#subs-background {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/attractive-battle-F974902.jpg) center;
    background-size: cover;
    padding: 30px 100px;
    line-height: 45px;
}

#subs-title {
    font-family: coolrg;
    color: white;
    font-size: 60px;
    text-transform: uppercase;
}

#subs-sub-title {
    font-family: coolcond;
    color: white;
    font-size: 40px;
    text-transform: uppercase;
}

.btn-subs {
    color: white;
    border: solid thin white;
    border-radius: 0;
    font-size: 30px;
    font-family: coolcond;
    text-transform: uppercase;
    min-width: 300px;
}

    .btn-subs:hover {
        background-color: #ab1113;
        color: white;
        border: none;
    }

#subs-email-wrapper {
    text-align: center;
    background-color: #3c3c3c;
    min-height: 250px;
    padding: 50px 0px;
}

    #subs-email-wrapper .btn-subs {
        min-width: 90%;
    }

#subs-input {
    border-radius: 0;
    font-size: 30px;
    font-family: coolcond;
    text-transform: uppercase;
    min-width: 90%;
}

::placeholder { /* Firefox, Chrome, Opera */
    color: #d3d3d3;
}

#news-background-1 div {
    min-height: 400px;
    background-size: cover !important;
    padding: 20px 20px;
}

#news-background-2 div {
    min-height: 400px;
    background-size: cover !important;
    padding: 20px 20px;
}

.news-category {
    background-color: #ab1113;
    color: white;
    font-family: coolcond;
    display: inline-block;
    padding: 2px 20px 2px 5px;
}

.news-title {
    font-family: coolcond;
    font-size: 40px;
    line-height: 25px;
    color: black;
    text-decoration: none !important;
    transition: 0.3s;
}

    .news-title:hover {
        color: #ab1113;
    }

.news-detail {
    color: #adadad;
    font-family: ralemed;
}

.news-title-2 {
    font-family: coolcond;
    font-size: 40px;
    line-height: 25px;
    color: white;
    text-decoration: none !important;
    transition: 0.3s;
}

    .news-title-2:hover {
        color: #ab1113;
    }

.news-detail-2 {
    color: white;
    font-family: ralemed;
}

#footer-wrapper {
    background-color: #3d3d3d;
    min-height: 250px;
    padding: 20px 50px;
}

.footer-content {
    background-color: transparent;
    border: none;
}

#footer-wrapper a {
    color: #808080;
    text-decoration: none;
    font-family: ralemed;
    transition: 0.3s;
}

    #footer-wrapper a:hover {
        color: #ab1113;
    }

.footer-content-header {
    color: white !important;
    font-family: coolcond;
    font-size: 24px;
}

#copyright {
    background-color: #272727;
    color: white;
    font-family: coolcond;
    padding: 10px 10px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #272727;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 99;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #818181;
        display: block;
        transition: 0.3s;
        font-family: coolcond;
    }

        .sidenav a:hover {
            color: #f1f1f1;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

#sidenav-sub-section {
    color: white;
    font-size: 10px;
    background-color: #383838;
}

    #sidenav-sub-section a {
        padding: 8px 8px 8px 32px;
        color: white;
        font-size: 15px;
        background-color: #383838;
    }

#sidenav-logsign {
    color: white;
}

    #sidenav-logsign a {
        display: inline-block;
    }

#sidenav-logsign-login-text {
    font-size: 15px;
    padding: 8px 8px 8px 8px;
}

.sidenav-product {
    padding-left: 15px;
    border-left: solid thick #ffc300;
}

.sidenav-sub-link {
    border-left: solid thick #ab1113;
}

#logreg-background {
    background: url(../images/black-friday-fashion-friends-1345082.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 150px 20px;
}

#logreg-wrapper {
    min-height: 350px;
}
#logreg-pass-recovery-wrapper{
    min-height:220px;
}

#logreg-form-wrapper {
    background-color: white;
    padding: 20px 40px;
}

.login-form-text {
    font-family: coolrg;
    font-size: 30px;
    text-transform: uppercase;
}

.login-form-label {
    text-transform: uppercase;
    font-family: ralemed;
}

.form-control-login {
    border: solid thin black;
    border-radius: 0px;
    font-size: 20px;
}

    .form-control-login:focus {
        box-shadow: none;
        border: solid thin #ab1113;
    }

#pwd, #pwd_re, #pwd_re_conf {
    padding-left: 40px;
    background: url(../images/icons/iconfinder_lock_172497.png) no-repeat scroll;
    background-size: 25px;
    background-position: 5px center;
}

#usr, #email_re {
    padding-left: 40px;
    background: url(../images/icons/185078-64.png) no-repeat scroll;
    background-size: 25px;
    background-position: 5px center;
}
#name_re {
    padding-left: 40px;
    background: url(../images/icons/iconfinder_user_male3_172627.png) no-repeat scroll;
    background-size: 25px;
    background-position: 5px center;
}

.logreg-form-button {
    background-color: #ab1113;
    font-family: coolrg;
    color: white;
    text-transform: uppercase;
    border-radius: 0px;
    min-width: 150px;
    font-size: 20px;
}
.logreg-back-button {
    background-color: #d7d7d7!important;
}
#login-form-link {
    vertical-align: bottom;
    color: black;
    text-decoration: none;
    font-family: ralemed;
}

    #login-form-link:hover {
        color: #ab1113;
    }

.form-check-login {
    font-family: ralemed;
    vertical-align: bottom;
}

.form-check-input-login {
    width: 25px;
    height: 25px;
    border-radius: 0px;
    background-color: white;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: ralemed;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    background-color: #ab1113;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#login-form-register {
    background-color: rgba(0,0,0,0.5);
    padding: 20px 40px;
}

#login-form-register-header {
    color: white;
    text-transform: uppercase;
    font-family: coolrg;
    font-size: 30px;
}

#login-form-register-quote {
    color: white;
    font-family: ralemed;
    font-size: 15px;
}

#login-form-register-quote span {
    text-align: right;
    font-weight: bold;
}

#login-form-register-button {
    background-color: transparent;
    border: solid thin white;
    border-radius: 0px;
    color: white;
    font-family: coolrg;
    font-size: 20px;
    min-width: 100%;
    text-transform: uppercase;
    transition: 0.3s;
}

#login-form-register-button:hover {
    background-color: #ab1113;
    border: none;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.not-member::before {
    content: "Not a member yet?";
}

.welcome::before {
    content: "Already have an account?";
}

.login::before {
    content: "login";
}

.register-now::before {
    content: "register now";
}

.top-wrapper {
    padding: 100px 0 20px 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/attractive-battle-F974902.jpg) center;
    background-size: cover;
}

.top-wrapper .top-title p {
    color: white;
    font-size: 20px;
    font-family: segoe ui light;
    font-weight: bold;
    margin-bottom: 0px;
}

.top-wrapper .top-title span {
    color: red;
}

.top-wrapper .top-title h3 {
    font-size: 41px;
    line-height: 54px;
    margin-bottom: 0;
    color: white;
    font-family: coolrg;
}

top-title-first-text {
    font-family: coolcond;
}
/* End top-wrapper */


/* Start content-wrapper */
.content-wrapper .content-left {
    font-family: segoe ui light;
    line-height: 30px;
    font-size: 17px;
}

.content-wrapper .content-left h3 {
    font-weight: bold;
    padding-top: 10px;
    font-size: 24px;
}


.content-right .content-right-first {
    padding-left: 40px;
}

.content-right .content-right-first h3 {
    font-size: 28px;
    font-family: fantasy;
    color: brown;
    padding-bottom: 8px;
}

.content-right .content-right-first p {
    margin-left: -8px;
    font-size: 18px;
    line-height: 17px;
}

.content-right .content-right-first .content-right-first-price {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

.content-right .content-right-first .content-right-first-date {
    display: block;
    font-size: 12px;
    padding-top: 6px;
}


.content-right .content-right-second {
    margin-top: 20px;
    background-color: #333;
    padding: 15px 20px;
    color: white;
    font-family: coolcond;
}

.content-right .content-right-second h3 {
    font-family: fantasy;
    font-size: 27px;
}

.content-right .content-right-second .import {
    border-radius: 0;
    padding: 10px;
}

.content-right .content-right-second .send {
    border-radius: 0;
    font-size: 20px;
    font-family: fantasy;
}

.content-right-first-news {
    margin-bottom: 10px;
    font-family: ralemed;
}

#content-left-second-sub-title {
    font-family: coolcond;
}

.content-left-second-content {
    font-family: ralemed;
}
/* End content-wrapper */
#product-list-background {
    background: url('../images/casual-fashion-fine-looking-958960 (1).jpg') center;
    background-size: cover;
    padding: 60px 0;
    margin-bottom: 20px;
}

#product-list-cate {
    color: white;
    font-family: coolrg;
    font-size: 70px;
}

.filter-depart-wrapper {
    font-family: coolcond;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 30px;
}

.filter-depart-wrapper a {
    color: black;
    display: block;
    text-decoration: none;
    opacity:0.5;
    transition: 0.3s;
}

.filter-depart-wrapper a:hover {
    color: #ab1113;
}
.filter-depart-active {
    opacity:1!important;
    color: #ab1113!important;
}
.filter-name-header {
    font-family: coolcond;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 30px;
    margin-top: 20px;
}

.filter-brand-item {
    font-family: ralemed;
    display: block;
    color: black;
    text-decoration: none !important;
    transition-duration: 0.3s;
    opacity:0.5;
}

.filter-brand-item:hover {
    color: #ab1113;
}

.category-list-wrapper {
    height: 200px;
    overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #ebebeb;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5);
}

.filter-size-wrapper label {
    display: inline-block;
    padding-right: 5px;
}

.custom-slider.rzslider .rz-bar {
    background: #ffe4d1;
    height: 2px;
}

.custom-slider.rzslider .rz-selection {
    background: black;
}

.custom-slider.rzslider .rz-pointer {
    width: 8px;
    height: 16px;
    top: auto; 
    bottom: 0;
    background-color: #ab1113;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.custom-slider.rzslider .rz-pointer:after {
    display: none;
}

.custom-slider.rzslider .rz-bubble {
    bottom: 14px;
}

.custom-slider.rzslider .rz-limit {
    font-weight: bold;
    color: #ab1113;
}

.custom-slider.rzslider .rz-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
}

.custom-slider.rzslider .rz-tick.rz-selected {
    background: #ab1113;
}
.custom-slider.rzslider .rz-bubble{
    font-family:coolcond;
}
.rzslider .rz-bubble.rz-limit{
    opacity:0.3;
}
#amount {
    color: black !important;
    font-weight: normal !important;
    font-family: ralemed !important;
}

#amount:focus {
    outline: none;
}

.sort-name-header {
    font-family: coolcond;
    text-transform: uppercase;
    line-height: 35px;
    font-size: 30px;
}

#pagination-wrapper {
    text-align: right !important;
    justify-content:flex-end;
}

#pagination-dots {
    font-size: 20px;
    vertical-align: bottom !important;
    padding: 15px 10px;
}

#pagination-custom .page-item {
    padding: 0px 4px;
}

.pagination-wrapper {
    margin-top: 20px;
    display:block;
}

.pagination-active {
    background-color: #ab1113;
    color: white !important;
}
.pagination-disable{
    opacity:0.3;
}
.page-link-custom {
    color: black;
    transition-duration: 0.3s;
}

.page-link-custom:hover {
    background-color: #ab1113;
    color: white;
}
/*Start product-detail css*/
/* Start content-wrapper */
.detail-content-right-first h3 {
    font-family: coolrg;
    line-height: 33px;
    color: black;
    margin-bottom: 0;
}

.detail-content-right-first h6 {
    font-family: coolrg;
    margin-bottom: 0;
    color: #999999;
}

.detail-content-right-first p {
    font-family: coolrg;
    color: #777;
    margin-bottom: 0;
}

    .detail-content-right-first p span {
        color: #0E5396;
    }

.detail-content-right-first h5 {
    color: #0E5396;
    font-family: coolrg;
    font-size: 22px;
}

.detail-content-right-second h3 {
    font-size: 28px;
    margin-top: -5px;
    font-family: coolrg;
}

.detail-content-right-second p {
    margin-bottom: 0;
    font-family: coolrg;
    color: #777777;
}

.detail-content-right-second h6 {
    font-size: 18px;
    color: #0e5396;
    font-family: coolcond;
    transform: translateY(26px) translateX(1px);
}

.detail-content-right-second .detail-second-left:after {
    content: '';
    width: 2px;
    height: 45px;
    background-color: black;
    margin-left: 15px;
    margin-top: 7px;
}

.btn-size {
    border: none;
    background-color: transparent;
    color: black;
    font-size: 33px;
    transform: translateY(-13px) translateX(0px);
}


.detail-content-right-final {
    width: 350px;
    border: 1px solid #0E5396;
    border-radius: 2px;
    font-weight: bold;
    margin-top: 20px;
    border-radius:5px;
}

    .detail-content-right-final .detail-right {
        width: 60%;
        padding-left: 10px;
        padding-top: 5px;
        padding-right: 10px;
        display: block;
        line-height: 20px;
    }

.detail-content-right-final .detail-left {
    width: 40%;
    line-height:20px;
    background-color: #0E5396;
    color: white;
    text-align: center;
    padding-bottom: 5px;
    font-weight:normal;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
/* Ed content-wrapper */


/* Start Jumbotron */
.jumbotron {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    background-color: #fafafa;
}

.jumbotron p {
    color: #333;
    font-family: ralemed;
    line-height: 28px;
}

.jumbotron h3 {
    font-family: coolcond;
    font-weight: bold;
    color: black;
}
/* End Jumbotron */



/* Start content-statistical-wrapper */
.detail-content-statistical-wrapper h1 {
    font-family: coolrg;
    margin-top: 10px;
    margin-bottom: 25px;
}

.detail-content-statistical-wrapper p {
    margin-top: -12px;
    font-family: coolrg;
    color: #777777;
    margin-bottom: 0;
}


.detail-content-statistical-wrapper span {
    font-size: 14px;
    color: #777777;
    font-family: coolrg;
}

.detail-content-statistical-wrapper h2 {
    font-size: 30px;
    font-family: coolcond;
    margin-bottom: 0;
    display: block;
}

.detail-content-statistical-wrapper h3 {
    font-family: coolrg;
    color: #0E5396;
    padding-top: 13px;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #80808070;
    margin-bottom: 100px;
}
/* End content-statistical-wrapper */
.password-recovery{
    font-family:coolrg;
    text-transform:uppercase;
    font-size:30px;
}
.browse-radio-wrapper {
    
    display: flex;
    width:100%!important;
    overflow-x: auto;
}
.browse-radio-wrapper label {
    margin: 0px;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    border: solid medium #ab1113;
    border-radius: 20px;
    padding: 2px;
    min-width: 150px;
    text-align: center;
    font-family: coolrg;
    text-transform: uppercase;
    transition: all 0.3s;
}

.label-checked {
    background-color: #ab1113;
    color: white;
}
.card-columns {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
}
.browse-brand-wrapper{
    margin-top:20px;
    max-height:500px;
    overflow-y:auto;
}
.brand-name-wrapper {
    border: none !important;
    border-top: solid thin #d7d7d7 !important;
}
.brand-name{
    font-family:coolcond;
    font-size:25px;

}
.brand-name-wrapper a {
    display: block;
    text-decoration: none;
    color: #b9b9b9;
    font-family:ralemed;
}
.size-label div{
    display:inline;
}
/* End product-detail css */
/* ------------------------------------------------- */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}
.img-container {
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding: 0;
    cursor: ew-resize;
}

.img360 {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 0;
}

img {
    width: 100%;
    margin: 0;
    padding: 0;
}

#preload-imgs {
    display: none;
}
.news-content-department{
    font-family:coolcond;
    font-size:20px;
}
.news-content-title {
    font-family: coolrg;
    font-size: 30px;
}
.news-content-title a {
    color:black;
    text-decoration:none!important;
    transition:0.3s;
}
.news-content-title a:hover{
    color:#ab1113;
}
.news-content-sub {
    font-family: coolcond;
    font-size: 20px;
    color: #777;
}
.news-content-sub-content .card {
    border: none !important;
    border-right: solid thin #efefef!important;
    padding-right:5px
}
.news-content-sub-content .card-body {
    padding:0px;
}
.news-department-list {
    border-top: solid thin #efefef;
    border-bottom: solid thin #efefef;
    padding: 10px 0px 10px 0px;
    font-family: coolcond;
    font-size: 20px;
}
.news-department-list a{
    color:black;
    opacity:0.4;
    text-decoration:none!important;
    transition:0.5s;
    padding: 0px 20px 0px 20px;
}
    .news-department-list a:hover {
        opacity: 1;
        border-left: solid thin #efefef;
        border-right: solid thin #efefef;

    }
.news-content-wrapper {
    height: 100vh;
    padding: 20px 50px 50px 50px;
    overflow-y: auto;
}
.news-recent-news {
    font-family: coolrg;
    font-size: 24px;
    text-transform: uppercase;
    color:#ab1113;
    padding:40px 20px 40px 20px;
}
.news-recent-news-wrapper {
    padding: 20px 20px 30px 20px;
    border-bottom: solid medium #f4f4f4;
}
.news-recent-date {
    font-family: coolrg;
    font-size: 20px;
    color: #ab1113;
}
.news-recent-article{
    font-family:ralemed;
    font-size:15px;
    color:black;
    text-decoration:none!important;

}

.news-content-main {
    font-family: coolrg;
    font-size: 50px;
}
.news-department-title{
    font-family:coolrg;
    font-size:35px;
}
.news-wrapper {
    height: 300px;
    padding: 15px 15px;
}
.news-content {
    height: 100%;
    border-radius: 15px;
    background-size:cover!important;
}
.news-title-wrapper{
    padding:120px 30px 20px 30px;
    margin-bottom:10px;
}
.news-title-wrapper a{
    color:white;
    font-family:coolcond;
    font-size:25px;
    text-decoration:none!important;
}
.news-title-wrapper div {
    font-family: coolrg;
    color: #e5e5e5;
}
.scroll-content::-webkit-scrollbar {
    display: none;
}
.horizon-prev {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 99;
    color: #e8e8e8;
    cursor: pointer;
    transition: 0.3s;
}
.horizon-next {
    position: absolute;
    top: 100px;
    right: 0px;
    z-index: 99;
    color: #e8e8e8;
    cursor:pointer;
    transition: 0.3s;
}
.horizon-prev:hover, .horizon-next:hover{
    color:white;
    background-color:#ab1113;
    padding:2px 10px;
    border-radius:5px;

}
@media only screen and (max-width: 1024px) {
    .news-content-wrapper {
        padding: 20px;
        height:auto;
    }

    .news-title-wrapper {
        padding: 120px 10px 20px 10px;
    }
}
    @media only screen and (max-width: 576px) {
        .news-content-wrapper {
            padding: 20px;
            height: auto;
        }
        .search-img {
            height: auto;
            width: 100%;
        }

        .btn-fullwidth {
            width: 100% !important;
        }

        .g-recaptcha {
            transform: scale(0.77);
            transform-origin: 0 0;
        }

        .detail-row-first p {
            text-align: center;
            transform: translateY(43px);
            background-color: brown;
            color: white;
        }

        .row.detail-row-first {
            border: none;
        }

        img.img-fluid {
            width: 100%;
        }

        /* Start content-wrapper */
        .content-right .content-right-first {
            padding-left: 0px;
        }

            .content-right .content-right-first h3 {
                text-align: center;
            }
        /* End content-wrapper */
        #title-text {
            font-size: 30px;
        }

        #title-sub-text {
            font-size: 15px;
        }

        #title-background {
            height: 300px;
        }

        #subs-background {
            padding: 30px 30px;
            text-align: center;
        }

        .btn-subs-explore {
            min-width: 100% !important;
        }

        .btn-subs {
            width: 100%;
        }

        #subs-input {
            min-width: 100%;
        }

        #subs-email-wrapper {
            padding: 50px 30px;
        }

        #logreg-background {
            padding: 50px 20px;
        }
        .news-content-sub-content .card {
            border-top: solid thin #efefef !important;
        }
    }
